<%= form_for(@registered_app) do |f| %>
  <% if @registered_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registered_app.errors.count, "error") %> prohibited this registered_app from being saved:</h2>

      <ul>
      <% @registered_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :widget %><br />
    <%= f.text_area :widget %>
  </div>
  <div class="field">
    <%= f.label :widget_endpoint %><br />
    <%= f.text_field :widget_endpoint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
